.contact{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141516;
    position: relative;
    .body{
        padding-top: 200px;
        width: 100%;
        max-width: 1800px;
        background-color: #141516;

        .title{
            border-bottom: 1px solid rgb(136, 136, 136);
            padding-bottom: 100px;
            margin-left: 200px;
            margin-right: 200px;
            position: relative;
            span{
                display: flex;
                align-items: center;
                .imageContainer{
                    width: 100px;
                    height: 100px;
                    position: relative;
                    border-radius: 50%;
                    overflow: hidden;

                    img{
                        object-fit: cover;
                    }
                }
                h2{
                    margin-left: 0.3em;
                }
            }
            h2{
                font-size: 5vw;
                margin: 0px;
                font-weight: 300;
            }
            .buttonContainer{
                position: absolute;
                left: calc(100% - 400px); 
                top: calc(100% - 75px);
            }
            .button{
                width: 150px;
                height: 150px;
                background-color: #455CE9;
                color: white;
                border-radius: 50%;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                p{
                    margin: 0px;
                    font-size: 16px;
                    font-weight: 300;
                    z-index: 2;
                    position: relative;
                }
            }
            svg{
                position: absolute;
                top: 30%;
                left: 100%;
            }
        }
        .nav{
            display: flex;
            gap: 20px;
            margin-top: 100px;
            margin-left: 200px;
            margin-right: 200px;
        }
        .info{
            display: flex;
            justify-content: space-between;
            margin-top: 100px;
            padding: 20px;
            div{
                display: flex;
                gap: 10px;
                align-items: flex-end;
                p, h3{
                    margin: 0px;
                    padding: 2.5px;
                    cursor: pointer;
                }
                p{
                    &::after{
                        content: "";
                        width: 0%;
                        height: 1px;
                        background-color: white;
                        display: block;
                        margin-top: 2px;
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: width 0.2s linear;
                    }
                    &:hover{
                        &::after{
                            width: 100%;
                        }
                    }
                }
                span{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
                h3{
                    color: grey;
                    cursor: default;
                    font-weight: 300;
                    font-size: 1em;
                }
            }
            
        }
    }
    
}

@media (max-width: 767px) {
  .contact {
    .body {
      padding-top: 120px; /* smaller padding */

      .title {
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 60px;

        span {
          .imageContainer {
            width: 70px;
            height: 70px;
          }

          h2 {
            font-size: 8vw;
          }
        }

        h2 {
          font-size: 10vw; /* main heading */
        }

        .buttonContainer {
          position: static;       /* FIX overflow */
          margin-top: 30px;
          margin-right: -150px;
          display: flex;
          justify-content: center;
        }

        .button {
          width: 100px;
          height: 100px;
        }

        svg {
          display: none; /* hide arrow on small screens */
        }
      }

      .nav {
        flex-direction: column;
        gap: 10px;
        margin: 50px 20px 0px 20px;
      }

      .info {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
        text-align: left;

        div {
          flex-direction: column;
          align-items: flex-start;
          gap: 15px;

          h3 {
            font-size: 14px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .contact {
    .body {
      padding-top: 150px;

      .title {
        margin-left: 60px;
        margin-right: 60px;
        padding-bottom: 80px;

        span {
          .imageContainer {
            width: 90px;
            height: 90px;
          }

          h2 {
            font-size: 5vw;
          }
        }

        h2 {
          font-size: 6vw;
        }

        .buttonContainer {
          left: calc(100% - 250px);
          top: calc(100% - 65px);
        }

        .button {
          width: 130px;
          height: 130px;
        }
      }

      .nav {
        margin-left: 60px;
        margin-right: 60px;
        gap: 20px;
      }

      .info {
        padding: 20px 60px;
        margin-top: 80px;

        div {
          gap: 15px;

          h3 {
            font-size: 16px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
