.description{
    height:50vh;
    padding-left: 150px;
    padding-right: 200px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    .body{
        max-width: 1400px;
        display: flex;
        gap: 50px;
        position: relative;
        p{
            margin: 0px;
            &:nth-of-type(1){
                font-size: 36px;
                gap: 8px;
                line-height: 1.3;
                span{
                    margin-right: 3px;
                }
                .mask{
                    position: relative;
                    overflow: hidden;
                    display: inline-flex;
                }
            }
            &:nth-of-type(2){
                font-size: 18px;
                width: 80%;
                font-weight: 300;
            }
        }
        .button{
            top: 80%;
            left: calc(100% - 200px); 
            width: 180px;
            height: 180px;
            background-color: #1C1D20;
            color: white;
            border-radius: 50%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            p{
                margin: 0px;
                font-size: 16px;
                font-weight: 300;
                position: relative;
                z-index: 1;
            }
        }
    }
    .moreWork{
        padding: 20px;
        border-radius: 40px;
        border: 1px solid grey;
    }
}

@media (max-width: 1440px) {
    .description {
        padding-left: 100px;
        padding-right: 150px;

        .body {
            gap: 40px;

            p:nth-of-type(1) {
                font-size: 32px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .description {
        padding-left: 60px;
        padding-right: 60px;
        height: auto;

        .body {
            flex-direction: column;
            gap: 30px;

            p:nth-of-type(1) {
                font-size: 30px;
            }

            p:nth-of-type(2) {
                width: 100%;
                font-size: 16px;
            }

            .button {
                position: relative;
                left: 0;
                top: 0;
                margin-top: 20px;
                width: 150px;
                height: 150px;
            }
        }
    }
}
@media (max-width: 768px) {
    .description {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 150px;

        .body {

            p:nth-of-type(1) {
                font-size: 26px;
                line-height: 1.3;
            }

            p:nth-of-type(2) {
                font-size: 15px;
            }

            .button {
                width: 130px;
                height: 130px;
            }
        }
    }
}
@media (max-width: 480px) {
    .description {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 120px;

        .body {

            p:nth-of-type(1) {
                font-size: 22px;
            }

            p:nth-of-type(2) {
                font-size: 14px;
            }

            .button {
                width: 120px;
                height: 120px;
                align-self: center;
                margin-top: 30px;
            }
        }
    }
}
